<div class="Tooltip">
	<span class="Tooltip__trigger">How to enroll</span>
	<div class="Tooltip__content">
		<p>Donec id elit non mi porta gravida at eget metus. Sed posuere consectetur est at lobortis. Maecenas sed diam eget risus varius blandit sit amet.</p>
	</div>
</div><!-- /.Tooltip -->