<article class="SmallSlat">
	<div class="ImageGroup">
		<i class="icon-calendar"></i>
	</div>
	<div class="TextGroup">
		<p>Plan Newseum visits using itineraries and activity guides.</p>
	</div>
</article>