<div class="u-basicList">
	<ul>
		<li>
			<a href="">Multimedia</a>
		</li>
		<li>
			<a href="">Artifacts</a>
		</li>
		<li>
			<a href="">Activities </a>
		</li>
		<li>
			<a href="">Case Studies</a>
		</li>
		<li>
			<a href="">Lessons</a>
		</li>
		<li>
			<a href="">Units</a>
		</li>
		<li>
			<a href="">+ More</a>
		</li>
	</ul>
</div>