<div class="InPageFilters">
	<ul>
		<li>
			<a href="">For Everyone</a>
		</li>
		<li>
			<a href="">For Students & Youth</a>
		</li>
		<li class="is-active">
			<a href="">For Educators</a>
		</li>
		<li>
			<a href="">For Professionals</a>
		</li>
	</ul>
</div>