/////////////////////////////////////-+++-/////////////////////////////////////////
// colors
// some default classes for adding colors to type, backgrounds or borders
/////////////////////////////////////-+++-/////////////////////////////////////////



/////////////////////////////////////-+++-
// Colors - for text, etc.


// add your colors here.
$color-collection: 
('red' $red), 
('blue' $blue), 
('navy' $navy),
('white' #fff);

@each $color in $color-collection {
  $color-name: nth($color, 1);
  $color-value: nth($color, 2);
  %u-#{$color-name}Color {
    color: #{$color-value};
  }
  .u-#{$color-name}Color {
  	@extend %u-#{$color-name}Color;
  }
}



/////////////////////////////////////-+++-
// Backgrounds

// add your backgrounds here. the third variable is the text color.
$bg-collection: 
('gray' $tan-light $text), 
('navy' $navy #fff);

@each $bg in $bg-collection {
  $bg-name: nth($bg, 1);
  $bg-value: nth($bg, 2);
  $bg-text: nth($bg, 3);
  %u-#{$bg-name}Background {
    background: #{$bg-value};
    color: #{$bg-text};
  }
  .u-#{$bg-name}Background {
  	@extend %u-#{$bg-name}Background;
  }
}
