/////////////////////////////////////-+++-/////////////////////////////////////////
// Form and input styles
/////////////////////////////////////-+++-/////////////////////////////////////////




$placeholder-default: darken($gray, 25%);

%u-defaultInput {
  line-height: 22px;
  background: #fff;
  border: 1px solid $gray;
  border-radius: 2px;
  padding: 9px 11px 8px;
  -webkit-appearance: none;
}

// default input styles
input,
textarea {
  @extend %u-smallText;
  @extend %u-defaultInput;
  width: 100%;

  &::-webkit-input-placeholder { color: $placeholder-default; }
  &:-moz-placeholder { color: $placeholder-default; }
  &::-moz-placeholder { color: $placeholder-default; }
  &:-ms-input-placeholder { color: $placeholder-default; }

  &:focus {
    outline: none;
    border: 1px dotted $link-color;
  }
}


input[type="submit"],
button {
  width: auto;
  background: transparent;
  @extend %u-button;
}

input[type="search"] {
  box-sizing: border-box; // for some reason normalize has this as 'contenet-box'
}


/////////////////////////////////////-+++-
// form related text



.InputGroup__label {
  display: block;
  margin-bottom: 3px;
}

.InputGroup {
  input {
    margin-bottom: 10px;
  }
}


// Default Layout for search inputs

.InputGroup--search {
  position: relative;

  input[type="submit"] {
    @extend %u-absoluteTopRight;
  }
}



/////////////////////////////////////-+++-
// Styles for advanced html5 form elements


input[type="color"],
input[type="range"],
input[type="number"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="datetime"],
input[type="datetime-local"] {
  width: auto;
  display: block;
}

input[type="color"] {
  width: 50px;
  height: 50px;
}
