/////////////////////////////////////-+++-/////////////////////////////////////////
// Form and input styles
/////////////////////////////////////-+++-/////////////////////////////////////////




$placeholder-default: darken($gray, 25%);

// default input styles
input,
textarea {
  @extend %u-smallText;
  line-height: 22px;
  background: none;
  border: 1px solid $gray;
  border-radius: 2px;
  padding: 9px 11px 8px;
  -webkit-appearance: none;
  width: 100%;

	&::-webkit-input-placeholder { color: $placeholder-default; }
	&:-moz-placeholder { color: $placeholder-default; }
	&::-moz-placeholder { color: $placeholder-default; }
	&:-ms-input-placeholder { color: $placeholder-default; }

	&:focus {
		outline: none;
    border: 1px dotted $link-color;
	}
}

input[type="submit"],
button {
  width: auto;
  background: transparent;
  @extend %u-button;
}



/////////////////////////////////////-+++-
// form related text


label {
  @extend %u-blockText;
}

.InputGroup__label {
  display: block;
  margin-bottom: 3px;
}

.InputGroup {
  input {
    margin-bottom: 10px;
  }
}

.InputLayout--absoluteSubmit {
  position: relative;

  .InputGroup input {
    margin-bottom: 0;
    padding-right: 51px;
  }

  .InputGroup--submit {
    display: block;
    margin-top: 0;
    position: absolute;
    bottom: 1px;
    right: 0;

    button {
      background: $link-color;
      color: #fff;
      font-size: 20px;
      padding: 8px 11px;
      border-left: 1px solid $gray;
      border-radius: 0 2px 2px 0;

      &:hover {
        background: $link-colorHover;
      }
    }
  }
}

