/////////////////////////////////////-+++-/////////////////////////////////////////
// Grid
// Custom grid layouts based on the Toast grid system structure
// more on toast here: http://daneden.github.io/Toast/
/////////////////////////////////////-+++-/////////////////////////////////////////



/////////////////////////////////////-+++-
// Base grid class

@mixin u-grid($media, $gutter) {
  text-align: center;
  padding: 0;
  margin: 0;
  
  @include mq($from: $media) {
    margin-left: -$gutter;
  }

  & > .u-gridCol {
    text-align: left;
    margin-bottom: ($gutter * .85);
    min-height: 1px;
    
    @include mq($from: $media) {
      margin-right: -.25em;
      vertical-align: top;
      display: inline-block;
      padding-left: $gutter;
    }
  }

  img {
    width: 100%;
  }
}


.u-grid {
  @include u-grid(0px, 60px);
}



/////////////////////////////////////-+++-
// custom grid styles below


// 2up grid
.u-grid2 {
  & > .u-gridCol {
      width: 50%;
  }
}

// 3up grid
.u-grid3 {
  & > .u-gridCol {
    width: 33.3333%;
  }
}

// 4up grid
.u-grid4 {
  & > .u-gridCol {
    width: 25%;
  }
}

.u-noGutter {
  margin-left: -.25em;

  & > .u-gridCol {
    margin-bottom: 0;
    padding-left: 0;
  }
}



