/////////////////////////////////////-+++-/////////////////////////////////////////
// Grid
// Custom grid layouts based on the Toast grid system structure
// more on toast here: http://daneden.github.io/Toast/
/////////////////////////////////////-+++-/////////////////////////////////////////


$grid: 60px;

.u-grid {
  min-width: 100%;
  text-align: center;

  @include mq($from: highschool) {
    margin-left: -$grid;
  }

  .u-gridCol {
    display: inline-block;
    margin-right: -.25em;
    min-height: 1px;
    vertical-align: top;
    text-align: left;

    @include mq($from: highschool) {
      padding-left: $grid;
    }
  }
}



/////////////////////////////////////-+++-
// example of a 3 up grid area


// .u-grid3 {
//   .u-gridCol {
//     max-width: 345px + $grid;
//     margin-bottom: $grid;

//     @media (min-width: $bp-highschool) {
//       width: 50%;
//     }

//     @media (min-width: $bp-college) {
//       width: 33.333333%;
//     }

//     img {
//       width: 100%;
//     }
//   }
// }



/////////////////////////////////////-+++-
// No gutter grid. This shows up on the media gallery on the home page


// .u-gridNoGutter {

//   @media (min-width: $bp-middleschool) {
//     margin-left: -.1em;
//   }  

//   .u-gridCol {
//     //width: 100%;
//     @media (min-width: $bp-highschool) {
//       padding-left: 0;
//     }
//   }
// }
