/////////////////////////////////////-+++-/////////////////////////////////////////
// Horizontal Rules and line breaks
/////////////////////////////////////-+++-/////////////////////////////////////////


hr {
	border: none;
	height: 1px;
	background: $gray;
}