/////////////////////////////////////-+++-/////////////////////////////////////////
// Basic Page structure, grid and layout
/////////////////////////////////////-+++-/////////////////////////////////////////



/////////////////////////////////////-+++-
// page structure utility classes


// this is to center content at large screens
$cspace_small: 20px;
$cspace_medium: 40px;
$cspace_large: 100px;

.constrained {
  max-width: $page-max-width + ($cspace_small * 2);
  margin-right: auto;
  margin-left: auto;
  padding-right: $cspace_small;
  padding-left: $cspace_small;

  @media (min-width: $bp-elementary) {
    padding-right: $cspace_medium;
    padding-left: $cspace_medium;
    max-width: $page-max-width + ($cspace_medium * 2);
  }

  @media (min-width: $bp-highschool) {
    padding-right: $cspace_large;
    padding-left: $cspace_large;
    max-width: $page-max-width + ($cspace_large * 2);
  }
}



/////////////////////////////////////-+++-
// Global page elements and their default styling/spacing etc.


.mainConstrained {
  margin-top: $spacing;
}