/////////////////////////////////////-+++-/////////////////////////////////////////
// Float Layouts
// These are some utility classes for float based layouts. This is NOT a site-wide
// grid. Its just for smaller, specific use cases.
/////////////////////////////////////-+++-/////////////////////////////////////////



/////////////////////////////////////-+++-
// this floats the first item to the left, and aligns the second item to the right
// starting at a certain breakpoint

$floatLayout-breakpoint: mobilemenu;

.u-floatLayout {
	@extend %u-clearfix;

	& > .u-floatLayout__cell:first-child {

		@include mq($from: $floatLayout-breakpoint) {
			float: left;
			margin-right: 60px;
		}
	}

	& > .u-floatLayout__cell:last-child {

		@include mq($from: $floatLayout-breakpoint) {
			text-align: right;
		}
	}
}
