/////////////////////////////////////-+++-/////////////////////////////////////////
// Links
/////////////////////////////////////-+++-/////////////////////////////////////////



a,
.u-fakeLink {
	color: $link-color;
	text-decoration: underline;

	&:hover {
		text-decoration: underline;
		cursor: pointer;
		color: $link-colorHover;
	}
}