/////////////////////////////////////-+++-/////////////////////////////////////////
// Custom List styles
/////////////////////////////////////-+++-/////////////////////////////////////////



/////////////////////////////////////-+++-
// Custom Lists

// inline list
%u-inlineList {
	list-style: none;
	padding: 0;
	margin: 0;

	> li {
		display: inline-block;
	}
}

// list of elements seperated by a comma
%u-commaList {
	@extend %u-inlineList;

	> li {

		&:not(:last-child) {

			&:after {
				content: ',';
			}
		}
	}
}

// list of elements seperated by a border
%u-borderList {
	@extend %u-inlineList;
	
	li {

		&:not(:first-child) {
			border-top: 1px solid $gray;
			margin-top: 30px;
			padding-top: 30px;
		}
	}
}


.u-inlineList { @extend %u-inlineList; }
.u-commaList { @extend %u-commaList; }
.u-borderList { @extend %u-borderList; }

