/////////////////////////////////////-+++-/////////////////////////////////////////
// List styles
/////////////////////////////////////-+++-/////////////////////////////////////////



// Reset lists
.u-nolist ul,
.u-nolist,
.u-menu {
	list-style: none;
	padding: 0;
	margin: 0;
}


//inline lists
%u-inlineList {
	list-style: none;
	padding: 0;
	margin: 0;

	> li {
		display: inline-block;
	}
}

.u-inlineList {
	@extend %u-inlineList;
}



/////////////////////////////////////-+++-
// list of elements seperated by a comma

.u-commaList {
	@extend %u-inlineList;

	> li {

		&:after {
			content: ',';
		}

		&:last-child {
			&:after {
				display: none;
			}
		}
	}
}
