/////////////////////////////////////-+++-/////////////////////////////////////////
// Custom List styles
/////////////////////////////////////-+++-/////////////////////////////////////////



/////////////////////////////////////-+++-
// Reset lists

%u-nolist {
    list-style: none;
    padding: 0;
    margin: 0;
}

.u-nolist > ul,
.u-nolist {
    @extend %u-nolist;
}


/////////////////////////////////////-+++-
// Definition List

dl {
	margin: 0; 
}

dt {
	font-weight: 600;
}

dt, dd {
	margin: 0;
}


/////////////////////////////////////-+++-
// Custom Lists

// inline list
%u-inlineList {
	list-style: none;
	padding: 0;
	margin: 0;

	> li {
		display: inline-block;
	}
}

// list of elements seperated by a comma
%u-commaList {
	@extend %u-inlineList;

	> li {

		&:not(:last-child) {

			&:after {
				content: ',';
			}
		}
	}
}


%u-basicList {
	@extend %u-nolist;

	> li {
		margin-bottom: 30px;
	}
}

// deploy list placeholder classes as utility classes
$list-collection: 
inlineList
commaList
basicList;
@each $i in $list-collection { .u-#{$i} { @extend %u-#{$i}; } }

