/////////////////////////////////////-+++-/////////////////////////////////////////
// Overlays
// Overlays are when you want to apply a transparent overlay on top of an image or
// another other element. Its a common visual treatment - this is a simple soluton.
/////////////////////////////////////-+++-/////////////////////////////////////////


// base overlay placeholder
%u-overlayDefault {
	position: relative;
	color: #fff;

	&:before {
		content: '';
		@extend %u-absoluteFull;	
	}
}

// placeholder for dark overlays
%u-overlayDark {
	@extend %u-overlayDefault;

	&:before {
	    background: #000;
	    opacity: .5;
	}
}

// mixin for applying overlay at a specific breakpoint
@mixin u-overlayDark($breakpoint) {
	position: relative;

	@include mq($from: $breakpoint) {
		color: #fff;
	}

	&:before {
		content: '';
		@include u-absoluteFull($breakpoint);	

		@include mq($from: $breakpoint) {
		    background: #000;
		    opacity: .5;
		}
	}
}

// example of a gradient overlay
%u-overlayPurpleGradient {
	@extend %u-overlayDefault;

	&:before {
	    background: linear-gradient(rgba(5,20,96, .3), rgba(5,20,96, .75), rgba(5,20,96, .95));
	}
}

