/////////////////////////////////////-+++-/////////////////////////////////////////
// General Page styles, structure and layout
/////////////////////////////////////-+++-/////////////////////////////////////////


/////////////////////////////////////-+++-
// Default styles applied to everything


// All elements will adopt `box-sizing:border-box;`
// as per paulirish.com/2012/box-sizing-border-box-ftw
* {
  &,
  &:before,
  &:after { 
    box-sizing: border-box; 
  }
}

// Remove gap between elements and the bottom of their containers
audio,
canvas,
img,
svg,
video { 
    vertical-align: middle; 
}

// default fluid images
img {
    max-width: 100%;
    height: auto;
    -ms-interpolation-mode: bicubic;
}

// default responsive iframes
iframe {
    width: 100%;
}

body {
  color: $text;
  font-family: $sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
  -webkit-font-smoothing: antialiased;
  background: $background;
}



/////////////////////////////////////-+++-
// Constrained class to center content so text does run the full width of the screen
// on large screens


// this is to center content at large screens
$cspace_small: 20px;
$cspace_medium: 40px;
$cspace_large: 100px;

.u-constrained {
  max-width: $page-max-width + ($cspace_small * 2);
  margin-right: auto;
  margin-left: auto;
  padding-right: $cspace_small;
  padding-left: $cspace_small;

  @include mq($from: elementary) {
    padding-right: $cspace_medium;
    padding-left: $cspace_medium;
    max-width: $page-max-width + ($cspace_medium * 2);
  }

  @include mq($from: highschool) {
    padding-right: $cspace_large;
    padding-left: $cspace_large;
    max-width: $page-max-width + ($cspace_large * 2);
  }
}



/////////////////////////////////////-+++-
// default spacing between basic content elements

h1, 
h2, 
h3, 
h4, 
h5, 
h6, 
p,
blockquote {
	margin: 0 0 $page-element-spacing;
}
