/////////////////////////////////////-+++-/////////////////////////////////////////
// Select dropdowns
/////////////////////////////////////-+++-/////////////////////////////////////////



$select-borderColor: $gray;
$select-borderColorHover: $link-color;
$select-background: #fff;


.u-select {
  position: relative;
  display: block;
  overflow: hidden;
  width: 100%;
  max-width: 100%;
  background: $select-background;
  border: 1px solid $select-borderColor;
  border-radius: 24px;
  padding: 5px 16px 6px;
  font-size: 15px;
  line-height: 28px;
  -webkit-appearance: none;
  width: 100%;

  &:after {
    background: none;
    content: ">";
    color: $link-color;
    font-size: 8px;
    position: absolute;
    right: 14px;
    top: 17px;
    z-index: 1;
    pointer-events: none; // This hack makes the select behind the arrow clickable in some browsers
  }
   
  // Hover style - tricky because we're clipping the overflow
  &:hover,
  &:focus {
    border-color: $link-color;
  }
}

select {
  width: 110%;   // Make sure the select is wider than the container so we can clip the arrow 
  max-width: 110%;
  min-width: 110%;
  appearance: none; // Remove select styling
  -webkit-appearance: none;
  -moz-appearance: window; // Ugly Firefox way of doing it
  text-indent: 0.01px;
  text-overflow: "";
  font-size: 15px; // Magic font size number to prevent iOS text zoom
  background:none;
  border: none;
  outline: none;
  //padding: .4em 19% .4em .8em; // Padding works surpringly well
}

// This hides native dropdown button arrow in IE 
select::-ms-expand {
  display: none;
}

// Focus style
select:focus {
  outline: none;
}

// This hides focus around selected option in FF
select:-moz-focusring {
  color: transparent;
  text-shadow: 0 0 0 #000;
}
