/////////////////////////////////////-+++-/////////////////////////////////////////
// Type
/////////////////////////////////////-+++-/////////////////////////////////////////



// links
///////////////////////////////////////////

a,
.fakeLink {
	color: $link-color;
	text-decoration: none;

	&:hover {
		text-decoration: none;
		cursor: pointer;
		color: $link-hover-color;
	}
}



// text
///////////////////////////////////////////


%normalText {
	font: 500 17px/30px $sans-serif;
}

%smallText {
	font-size: 13px;
	line-height: 16px;
	font-weight: 700;
}

%largeText {
	font-size: 21px;
	line-height: 24px;
	font-weight: 700;
}

%subduedText {
	font-size: 12px;
	line-height: 15px;
	color: $gray;
}

// deployment
.smallText { @extend %smallText; }
.largeText { @extend %largeText; }
.subduedText { @extend %subduedText; }


// titles
///////////////////////////////////////////


%normalTitle {
	font: 700 22px/24px $serif;
}

%smallTitle {
	font: 700 18px/20px $serif;
}

%largeTitle {
	font: 700 36px/40px $serif;
}

%blockTitle {
	font: 700 12px/14px $sans-serif;
	text-transform: uppercase;
	letter-spacing: 3px;
}

// deployment
.title { @extend %normalTitle }
.smallTitle { @extend %smallTitle; }
.largeTitle { @extend %largeTitle; }
.blockTitle { @extend %blockTitle; }



// h1 - h6 elements
///////////////////////////////////////////

// copied from normalize
// Address variable `h1` font-size and margin within `section` and `article`
// contexts in Firefox 4+, Safari, and Chrome.
// 

// h1 {
//   @extend %title;
// }



// buttons
///////////////////////////////////////////


%button {
	font-size: 16px;
	line-height: 20px;
	padding: 8px 19px;
	border-radius: 2px;
	font-weight: 700;
	background: $link-color;
	color: #fff;

	&:hover {
		background: darken($link-color, 10%);
		color: #fff;
		cursor: pointer;
		text-decoration: none;
	}
}

.btn { @extend %button; }

.btn--large {
	font-size: 18px;
	line-height: 22px;	
	padding: 11px 18px;
	font-weight: 700;
}

.btn--small {
	font-size: 13px;
	line-height: 16px;
	padding: 3px 6px;
}



// tags
///////////////////////////////////////////


%tag {
	background: $link-color;
	color: #fff;
	font-size: 13px;
	line-height: 16px;
	border-radius: 2px;
}

.tag { @extend %tag; }



// quotes
///////////////////////////////////////////


blockquote {
	@extend %title;
	position: relative;
	padding: $spacing;
	text-align: center;
	color: $gray;

	p {
		margin: 0;
	}

	cite {
		@extend %normalText;

		&:before {
			content: '— ';
			display: inline-block;
			padding-right: 5px;
		}
	}
}



/////////////////////////////////////-+++-
// table


table {
	background: $gray;
}

th,
td {
	padding: 8px 18px;
	border-bottom: 1px solid #fff;
	border-right: 1px solid #fff;
}

th {
	background: $gray;
}



/////////////////////////////////////-+++-
// horizontal rule


hr {
	border: none;
	height: 1px;
	background: $gray;
}

