/////////////////////////////////////-+++-/////////////////////////////////////////
// Utility classes
/////////////////////////////////////-+++-/////////////////////////////////////////



/////////////////////////////////////-+++-
// Reset lists


.u-noList ul,
.u-noList,
.u-menu {
    list-style: none;
    padding: 0;
    margin: 0;
}



/////////////////////////////////////-+++-
// Utility classes for hiding or replacing text


// Image replacement - via html5 boilerplate
.u-ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
}

.u-ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

// Hide from both screenreaders and browsers: h5bp.com/u
.u-hidden {
    display: none; //consider putting !important in here
    visibility: hidden;
}

// Hide only visually, but have it available for screenreaders: h5bp.com/v
.u-visuallyHidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

// Extends the .visuallyhidden class to allow the element to be focusable
// when navigated to via the keyboard: h5bp.com/p
.u-visuallyHidden.focusable:active,
.u-visuallyHidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

// Hide visually and from screenreaders, but maintain layout
.u-invisible {
    visibility: hidden;
}



/////////////////////////////////////-+++-
// Clearfix: contain floats - via html5boilerplate

// For modern browsers
// 1. The space content is one way to avoid an Opera bug when the
//    `contenteditable` attribute is included anywhere else in the document.
//    Otherwise it causes space to appear at the top and bottom of elements
//    that receive the `clearfix` class.
// 2. The use of `table` rather than `block` is only necessary if using
//    `:before` to contain the top-margins of child elements.
// 3. For IE 6/7 only
//    Include this rule to trigger hasLayout and contain floats.
// 


%u-clearfix {
    *zoom: 1; //3

    &:before,
    &:after {
        content: " "; //1
        display: table; //2       
    }

    &:after {
        clear: both;
    }
}

.u-clearfix {
    @extend %u-clearfix;
}



/////////////////////////////////////-+++-
//  Iconfont placeholders


// icomoon placeholder
%u-icomoon{
    font-family: 'icomoon';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

// fontawesome placeholder
%u-fontawesome {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transform: translate(0, 0);
}



/////////////////////////////////////-+++-
// some alignment utility classes


.u-alignRight {
    text-align: right;
}

.u-alignLeft {
    text-align: left;
}

.u-alignCenter {
    text-align: center;
}



/////////////////////////////////////-+++-
// Some misc. text treatment classes


// wrap text with a span with this class if you don't want its content
// to break onto two lines
.nobr {
    white-space: nowrap;
}
