/////////////////////////////////////-+++-/////////////////////////////////////////
// Utility overrides
// these are utility classes that are meant to override any object or global
// level css. 
//
// @todo: clean this up and make it something a little more generic. Right now
// the values are specific to a project.
//
/////////////////////////////////////-+++-/////////////////////////////////////////



%u-borderTop {
    border-top: 1px solid $gray;
}

.u-borderTop {
    @extend %u-borderTop;
}

.u-borderTopSpacing {
    @extend %u-borderTop;
    margin-top: 30px;
    padding-top: 30px;    
}

.u-spacingBottom {
    margin-bottom: 30px;
}
