/////////////////////////////////////-+++-/////////////////////////////////////////
// Global Variables
/////////////////////////////////////-+++-/////////////////////////////////////////



/////////////////////////////////////-+++
// fonts


$roboto: 'Roboto';
$railway: 'Raleway';

$sans-serif : $roboto, $helvetica;
$titles: $railway, $sans-serif;



/////////////////////////////////////-+++
// colors


$gray-dark: darkgray;
$gray: gainsboro;
$gray-light: darken(snow, 5%);

$background: snow;
$text: #333;

$link-color: dodgerblue;
$link-colorHover: darken($link-color, 10%);



/////////////////////////////////////-+++
// breakpoints


$mq-breakpoints: (
    elementary:  390px,
    middleschool:  600px,
    highschool: 768px,
    gapyear:    850px,
    college:    1000px,
    offcanvas: 	1150px,
    fifthyear:    1150px,
    masters:    1250px,
    doctorate: 1600px
) !default;

$mq-static-breakpoint: masters;



/////////////////////////////////////-+++
// Misc. values


$comp-max-width: 1600px; // if working from a PSD or other static comp
$site-max-width: 1542px;
$page-max-width: 1200px;

$page-element-spacing: 20px;
$spacing: 20px;
$grid-gutter: $spacing;

$animation-speed: .2s;
$animation-easing: ease;
$animation: $animation-speed $animation-easing;
