/////////////////////////////////////-+++-/////////////////////////////////////////
// Global Variables
/////////////////////////////////////-+++-/////////////////////////////////////////



/////////////////////////////////////-+++
// fonts

// import from google fonts
@import url(http://fonts.googleapis.com/css?family=Raleway:400,700,600|Roboto:400,700,700italic);

$roboto: 'Roboto';
$railway: 'Raleway';

$sans-serif : $roboto, $helvetica;
$titles: $railway, $sans-serif;



/////////////////////////////////////-+++
// colors


$gray-dark: darkgray;
$gray: gainsboro;
$gray-light: darken(snow, 5%);

$background: snow;
$text: #333;

$link-color: dodgerblue;
$link-colorHover: darken($link-color, 10%);



/////////////////////////////////////-+++
// breakpoints


$mq-breakpoints: (
    mobilemenu: 	940px,
    desktop:    	1250px
) !default;

$mq-static-breakpoint: desktop;



/////////////////////////////////////-+++
// Misc. values


$comp-max-width: 1600px; // if working from a PSD or other static comp
$page-max-width: 1200px;

$spacing: 20px;

$animation-speed: .2s;
$animation-easing: ease;
$animation: $animation-speed $animation-easing;
