/////////////////////////////////////-+++-/////////////////////////////////////////
// Grid
//
// This is a purely utilitarian grid. Your main site grid structure should be 
// a custom solution using the inlineGrid and tableGrid mixins elsewhere. These
// styles should only be used for small one-off things where you just need an
// easy grid layout for a specific thing (like a webform or something similar)
//
/////////////////////////////////////-+++-/////////////////////////////////////////


.u-grid {

}

// default inline grid

$inlineGrid--bp: 800px;
$inlineGrid--spacing: 20px;

.u-grid {
    @include u-inlineGrid($inlineGrid--bp, $inlineGrid--spacing);

    > div {
        // if you don't put any classes on anything, it goes ful width
        width: 100%;
    }

    // some default inline grid layouts
    @include mq($from: $inlineGrid--bp) {
        .u-grid__80 { width: 80%; }
        .u-grid__75 { width: 75%; }
        .u-grid__66 { width: 66.6666666%; }
        .u-grid__60 { width: 60%; }
        .u-grid__50 { width: 50%; }
        .u-grid__40 { width: 40%; }
        .u-grid__33 { width: 33.33333333%; }
        .u-grid__25 { width: 25%; }
        .u-grid__20 { width: 20%; }
    }
}
