/////////////////////////////////////-+++-/////////////////////////////////////////
// Post
//
// Styles for the main article or post. On a blog page this would be the actual
// blog text. It has sidebars sometimes, it has lots of 'fields'.
//
//
//
//    +--------------------------------+
//    |                                |
//    |          Post Title            |
//    |                                |
//    |   rail  |  Lorem ipsum sit     |
//    |   text  |  dolor ...           |
//    |         |                      |
//    |         |                      |
//    |                                |
//    +--------------------------------+
//
/////////////////////////////////////-+++-/////////////////////////////////////////



$Post-bp: mobilemenu-bp;
$Post-border: 1px solid $gray-light;
$Post-marginBottom: 75px;
$Post-headerMargin: 100px;



.Post {
    margin-bottom: $Post-marginBottom;

    &__header {
        margin-bottom: $Post-headerMargin;
    }
}
