/////////////////////////////////////-+++-/////////////////////////////////////////
// CSS for the body element - has a lot of defaults
/////////////////////////////////////-+++-/////////////////////////////////////////



// All elements will adopt `box-sizing:border-box;`
// as per paulirish.com/2012/box-sizing-border-box-ftw
* {
  &,
  &:before,
  &:after { 
    box-sizing: border-box; 
  }
}


body {
  background: $background;
  color: $text;
  font-family: $sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
  -webkit-font-smoothing: antialiased;
}
