/////////////////////////////////////-+++-/////////////////////////////////////////
// Form and input styles
/////////////////////////////////////-+++-/////////////////////////////////////////



/////////////////////////////////////-+++-
// input elements


$placeholder-default: $text;

// default input styles
input {
	background: none;
	border: 1px solid $gray;
	border-radius: 2px;
	padding: 8px 16px 9px;
	-webkit-appearance: none;
	width: 100%;

	&::-webkit-input-placeholder { color: $placeholder-default; }
	&:-moz-placeholder { color: $placeholder-default; }
	&::-moz-placeholder { color: $placeholder-default; }
	&:-ms-input-placeholder { color: $placeholder-default; }

	&:focus {
		outline: none;
	  	border: 1px dotted $link-color;
	}
}

input[type="submit"] {
	width: auto;
}




/////////////////////////////////////-+++-
// form related text


label {

}

.formDescrption {
  @extend %smallText;
}
