/////////////////////////////////////-+++-/////////////////////////////////////////
// Form and input styles
/////////////////////////////////////-+++-/////////////////////////////////////////



/////////////////////////////////////-+++-
// input elements


// default input styles
input {
  background: none;
  border: 1px solid $gray;
  border-radius: 3px;
  padding: 8px 16px 9px;
  -webkit-appearance: none;

  &:focus {
    border: 1px dotted $link-color;
  }
}

input[type="submit"] {
}



/////////////////////////////////////-+++-
// placeholder overrides


//::-webkit-input-placeholder {
//   color: $off-black2;
//}
//:-moz-placeholder { /* Firefox 18- */
//   color: $off-black2;  
//}
//::-moz-placeholder {  /* Firefox 19+ */
//   color: $off-black2;  
//}
//:-ms-input-placeholder {  
//   color: $off-black2;  
//}



/////////////////////////////////////-+++-
// labels


label {

}
