/////////////////////////////////////-+++-/////////////////////////////////////////
// Type
/////////////////////////////////////-+++-/////////////////////////////////////////



// links
///////////////////////////////////////////

a,
.fakeLink {
	color: $link-color;
	text-decoration: none;

	&:hover {
		text-decoration: underline;
		cursor: pointer;
	}
}



// headers
///////////////////////////////////////////


%header {
  font-size: 2em;
  line-height: 1em;
  margin: 0.67em 0;
}

.header {
	@extend %header;
}



// h1 - h6 elements
///////////////////////////////////////////

// copied from normalize
// Address variable `h1` font-size and margin within `section` and `article`
// contexts in Firefox 4+, Safari, and Chrome.
// 

h1 {
  @extend %header;
}



// buttons
///////////////////////////////////////////


