/////////////////////////////////////-+++-/////////////////////////////////////////
// Utility classes
/////////////////////////////////////-+++-/////////////////////////////////////////



.nobr {
	white-space: nowrap;
}

// Remove gap between elements and the bottom of their containers
audio,
canvas,
img,
svg,
video { 
    vertical-align: middle; 
}

// default fluid images
img {
    max-width: 100%;
    height: auto;
    -ms-interpolation-mode: bicubic;
}

// default responsive iframes
iframe {
    width: 100%;
}

// Image replacement - via html5 boilerplate
.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
}
.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

// Hide from both screenreaders and browsers: h5bp.com/u
.hidden {
    display: none; //consider putting !important in here
    visibility: hidden;
}

// Hide only visually, but have it available for screenreaders: h5bp.com/v
.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

// Extends the .visuallyhidden class to allow the element to be focusable
// when navigated to via the keyboard: h5bp.com/p
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

// Hide visually and from screenreaders, but maintain layout
.invisible {
    visibility: hidden;
}

// 
// Clearfix: contain floats - via html5boilerplate
// 
// For modern browsers
// 1. The space content is one way to avoid an Opera bug when the
//    `contenteditable` attribute is included anywhere else in the document.
//    Otherwise it causes space to appear at the top and bottom of elements
//    that receive the `clearfix` class.
// 2. The use of `table` rather than `block` is only necessary if using
//    `:before` to contain the top-margins of child elements.
// 

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

// 
// For IE 6/7 only
// Include this rule to trigger hasLayout and contain floats.
// 

.clearfix {
    *zoom: 1;
}


// icomoon helper mixin
%iconfont {
    font-family: 'icomoon';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
