/////////////////////////////////////-+++-/////////////////////////////////////////
// Global Variables
/////////////////////////////////////-+++-/////////////////////////////////////////



/////////////////////////////////////-+++
// fonts

$open-sans: 		'Open Sans';

$serif				: $georgia;
$sans-serif			: $open-sans, $helvetica;



/////////////////////////////////////-+++
// colors


$gray-dark			: darkgray;
$gray				: gainsboro;
$gray-light			: snow;

$background			: tomato;
$text				: gold;

$link-color			: tomato;
$link-hover-color	: darken($link-color, 10%);



/////////////////////////////////////-+++
// breakpoints


$bp-elementary: $iphone-4;
$bp-highschool: $ipad-1;
$bp-college: $chromebook;
$bp-masters: $imac-21;



/////////////////////////////////////-+++
// Misc. values


$page-max-width: 1600px;
$page-element-spacing: 20px;
$spacing: 20px;

