/////////////////////////////////////-+++-/////////////////////////////////////////
// Global Variables
/////////////////////////////////////-+++-/////////////////////////////////////////



/////////////////////////////////////-+++
// fonts

$open-sans: 		'Open Sans';

$serif				: $georgia;
$sans-serif			: $open-sans, $helvetica;



/////////////////////////////////////-+++
// colors


$gray-dark			: darkgray;
$gray				: gainsboro;
$gray-light			: darken(snow, 5%);

$background			: snow;
$text				: #333;

$link-color			: dodgerblue;
$link-hover-color	: darken($link-color, 10%);



/////////////////////////////////////-+++
// breakpoints


$bp-elementary: em(350);
$bp-middleschool: em(600);
$bp-highschool: $ipad-1;
$bp-college: em(1080);
$bp-5thyear: em(1150);
$bp-masters: $imac-21;

$bp-offcanvas: $bp-college; // if you have an offcanvas menu

/////////////////////////////////////-+++
// Misc. values


$comp-max-width: 1600px; // if working from a PSD or other static comp
$page-max-width: 1200px;
$page-element-spacing: 20px;
$spacing: 20px;

$animation-speed: .1s;

