/////////////////////////////////////-+++-/////////////////////////////////////////
// Styles for the browsehappy message for people still using old versions if ie
/////////////////////////////////////-+++-/////////////////////////////////////////



.BrowseHappy {
	background: $link-color;
	padding: 20px;
	color: $text;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 100;

	a {
		color: #FFF;
	}
	
	p {
		margin: 0;
	}
}