/////////////////////////////////////-+++-/////////////////////////////////////////
// Styles for the browsehappy message for people still using old versions if ie
// This message only shows up for users who are using a version of ie that we
// don't support, via a bit of html that looks like this immediately following
// the opening <body> tag:
//        <!--[if lte IE 9]>
//        <div class="BrowseHappy">
//            <p>You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
//        </div>
//        <![endif]-->
/////////////////////////////////////-+++-/////////////////////////////////////////



.BrowseHappy {
	background: $link-color;
	padding: 10px;
	color: $text;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 100;
	font-size: 13px;
	line-height: 16px;

	a {
		color: #FFF;
	}
	
	p {
		margin: 0;
	}
}