/////////////////////////////////////-+++-/////////////////////////////////////////
// Card
// This is a grouping of text and images that looks like a card. It has a container
// with a background image and padding around the text - but the image goes to the
// edge of the container.
// Often shows up in a grid of some kind when in groups.
//
//
//     +---------------------+
//     |                     |
//     |                     |
//     |        image        |
//     |                     |
//     |                     |
//     +---------------------+
//     |                     |
//     |  Card Title         |
//     |                     |
//     |  More example text  |
//     |  for what a 'card'  |
//     |  might look like.   |
//     |                     |
//     +---------------------+
//
/////////////////////////////////////-+++-/////////////////////////////////////////



/////////////////////////////////////-+++-
// Variables


$Card-maxWidth: 570px;
$Card-bg: #fff;
$Card-spacing: 30px;



/////////////////////////////////////-+++-
// Default Card style

.Card {
    max-width: $Card-maxWidth;
    background: $Card-bg;
    margin-right: auto;
    margin-left: auto;    

    &__textGroup {
        padding: $Card-spacing;
    }
}


/////////////////////////////////////-+++-
// Card grid


// for single row grids of cards
.CardGrid {
    @include u-tableGrid--gutter(1120px, 16px);
}


