/////////////////////////////////////-+++-/////////////////////////////////////////
// Card
// This is a grouping of text and images that looks like a card. Vertical in appearance
// and often shows up in groups. Also often acts as a teaser. Often shows up in a grid
// of some kind when in groups.
// Usually takes markup that looks somewhat like this:
//
//	<div class="Card">
//		<div class="Card__imageGroup">
//			<img src="" alt="" />
//		</div>
//		<div class="Card__textGroup">
//			<p>Lorem ipsum</p>
//		</div>
//	</div>
//
// and visually should look something like this:
//
//     +-------------------+
//     |                   |
//     |                   |
//     |       image       |
//     |                   |
//     |                   |
//     +-------------------+
//     |                   |
//     | Card Title        |
//     |                   |
//     | More example text |
//     | for what a 'card' |
//     | might look like.  |
//     |                   |
//     |                   |
//     +-------------------+
//
/////////////////////////////////////-+++-/////////////////////////////////////////



/////////////////////////////////////-+++-
// Variables


$card-maxwidth: 370px;
$card-bg: #fff;




/////////////////////////////////////-+++-
// Default Card style

.Card {
	max-width: $card-maxwidth;
	background: $card-bg;
	margin-right: auto;
	margin-left: auto;	
	position: relative;
	overflow: hidden;
}
