/////////////////////////////////////-+++-/////////////////////////////////////////
// Image Credits and Captions
// this is a common layout for adding image credits and attributions
/////////////////////////////////////-+++-/////////////////////////////////////////




/////////////////////////////////////-+++-
// Variables


$credit-background: #000;
$credit-color: #fff;
$credit-padding: 6px 12px;



/////////////////////////////////////-+++-
// Default Cover style


.ImageCredit__wrapper {
	position: relative;

	img {
		display: block;
	}
}

.ImageCredit {
	@extend %u-tinyText;
	@extend %u-absoluteBottomRight;
	margin-bottom: 0;
	background: $credit-background;
	color: $credit-color;
	padding: $credit-padding;
}

.ImageCaption {
	@extend %u-smallText;
}
