/////////////////////////////////////-+++-/////////////////////////////////////////
// background images
// when deploying images like for a logo, etc.
/////////////////////////////////////-+++-/////////////////////////////////////////



// logo in the header

$Logo-width: 100px;
$Logo-height: 50px;
$Logo-fileName: 'logo';

.Logo {
	display: block;
	position: relative;
	background: transparent url('../img/$Logo-fileName.svg') center center no-repeat;
	width: $Logo-width;
	height: $Logo-height;
	background-size: $Logo-width $Logo-height;

	.no-svg & {
		background-image: url('../img/$Logo-fileName.png');
	}
}

