/////////////////////////////////////-+++-/////////////////////////////////////////
// background images
// when deploying images like for a logo, etc.
/////////////////////////////////////-+++-/////////////////////////////////////////



// logo in the header

$Logo-width: 75px;
$Logo-height: 111px;

$Logo-smallWidth: 50px;
$Logo-smallHeight: 74px;

$Logo-fileName: 'logo';

.Logo {
	display: block;
	position: relative;
	background: $gray url('img/#{$Logo-fileName}.png') center center no-repeat;
	width: $Logo-smallWidth;
	height: $Logo-smallHeight;
	background-size: $Logo-smallWidth $Logo-smallHeight;
	
	@include mq($from: offcanvas) {
		width: $Logo-width;
		height: $Logo-height;
		background-size: $Logo-width $Logo-height;	
	}

	.no-svg & {
		background-image: url('img/#{$Logo-fileName}.png');
	}
}
