/////////////////////////////////////-+++-/////////////////////////////////////////
// Offcanvas
// This is only partially implemented in Egg. See how to do it for real here: 
// http://codepen.io/billbrown/pen/ogavbp
/////////////////////////////////////-+++-/////////////////////////////////////////



$Offcanvas-width: 80%;
$Offcanvas-animation: 0.4s;
$Offcanvas-background: $gray;

#Offcanvas__wrapper1 {
  overflow: hidden;
  position: relative;
}

#Offcanvas__wrapper2 {
  transition: $Offcanvas-animation ease;

  .js.is-Offcanvas & {
    transform: translate(-($Offcanvas-width), 0px);
      
    @include mq($from: offcanvas) {
      transform: none;
    }
  }
}

#Offcanvas__content {
  display: block;
	background: $Offcanvas-background;

  @include mq($from: offcanvas) {
    display: none;
  }

  .js & {
    height: 100%;
    z-index: 500;
    position: absolute;
    right: 0;
    top: 0;
    width: $Offcanvas-width;
    transform: translate(100%, 0px);
    
    @include mq($from: offcanvas) {
      height: auto;
      width: auto;
      right: auto;
      top: auto;
      position: relative;
      transform: translate(0, 0);
    }
  }
}

// hide the dropshadow and the trigger button on larger screens
.Offcanvas__trigger,
#Offcanvas__content:before {
    @include mq($from: offcanvas) {
      display: none;
    }  
}
