/////////////////////////////////////-+++-/////////////////////////////////////////
// Quilt
// A quilt is a common wrapper for groupings of patches (see _patch.scss).
// Quilts typically spans the full width of the browser window and have a 
// common color/background.
//
// They Usually take markup that looks somewhat like this:
//
//	<div class="Quilt">
//		<article class='Patch'> ... </article>
//		<section class='Patch'> ... </section>
//		<section class='Patch'> ... </section>
//	</div>
//
// and visually could look something like this:
//
//    +-------------------------------------------+
//    |                                           |   <- this outside ring is the 'Quilt'
//    |                                           |   
//    |		+------------------------------+      |
//    |     |                              |      |
//    |     |                              |      |   <- the 'Patches' inside are other
//    |     |                              |      |      individual css objects
//    |     |                              |      |
//    |     |                              |      |
//    |		+------------------+-----------+      |
//    |     |                  |           |      |
//    |     |                  |           |      |
//    |     |                  |           |      |
//    |     |                  |           |      |
//    |     |                  |           |      |
//    |     |                  |           |      |
//    |     |                  |           |      |
//    |		+------------------+-----------+      |
//    |     |                              |      |
//    |     |                              |      |
//    |     |                              |      |
//    |		+------------------------------+      |
//    |                                           |
//    |                                           |
//    +-------------------------------------------+
//
/////////////////////////////////////-+++-/////////////////////////////////////////




/////////////////////////////////////-+++-
// Variables


$quilt-spacing: 80px;
$quilt-smallspacing: 40px;



/////////////////////////////////////-+++-
// Default Quilr style


.Quilt {
	padding: $quilt-smallspacing 0;
	position: relative;

	@include mq($from: 600px) {
		padding: $quilt-spacing 0; 
	}
}



/////////////////////////////////////-+++-
// Quilt Variations


// quilt with no padding (for when content spans height of container)
.Quilt--noSpacing {
	padding-top: 0;
	padding-bottom: 0;
}
