/////////////////////////////////////-+++-/////////////////////////////////////////
// Footer
// this is the main site footer
/////////////////////////////////////-+++-/////////////////////////////////////////



.SiteFooter {
	background: $link-color;
	padding: 20px 0;

	a {
		color: white;
	}
}

.FooterMenu {
	ul {
		@extend %u-inlineList;
	}
}