/////////////////////////////////////-+++-/////////////////////////////////////////
// Slat
// This is a grouping of text and images that looks like a slat (a horizontal
// material sometimes used in architecture/building). It also is borderless - no
// wrapping container or background color (like a card might have).
// Often shows up in groups. Also often acts as a teaser.
//
//
//     
//     Example Title of Slat                             +---------+  
//                                                       |         |  
//     More example text for what a 'slat' looks like.   |  image  |       
//     Does this visual example help you understand      |         |       
//     what this element is? I sure hope so.             +---------+     
//     
//     
//
/////////////////////////////////////-+++-/////////////////////////////////////////



/////////////////////////////////////-+++-
// Variables


$Slat-bp: mobilemenu-bp;
$Slat-imagewidth: 250px;
$Slat-imageGutter: 30px;

/////////////////////////////////////-+++-
// Default Slat style


.Slat {
    @include u-tableGrid--gutter($Slat-bp, $Slat-imageGutter);

    &__imageGroup {
        display: none; // hide images on mobie

        @include mq($from: $Slat-bp) {
            width: $Slat-imagewidth;
        }
    }

    &__header {
        margin-bottom: 20px;
    }

    .SlatGrid & {
        .Slat__imageGroup {
            display: none; // hide images when slats show up in grids
        }
    }
}



/////////////////////////////////////-+++-
// Slat grid

// for single row grids of slats
.SlatGrid {
    @include u-tableGrid--border(1120px, 40px, $gray-light);
}

