/////////////////////////////////////-+++-/////////////////////////////////////////
// Slat
// This is a grouping of text and images that looks like a slat (a horizontal
// material sometimes used in architecture/building). Horizontal in appearance.
// Often shows up in groups. Also often acts as a teaser. Usually full width, not
// in grids.
// Usually takes markup that looks somewhat like this:
//
//	<div class="Slat">
//		<div class="Slat__imageGroup">
//			<img src="" alt="" />
//		</div>
//		<div class="Slat__textGroup">
//			<p>Lorem ipsum</p>
//		</div>
//	</div>
//
// and visually should look something like this:
//
//     +---------------+
//     |               |  Example Title of Slat
//     |               |
//     |     image     |  More example text for what a 'slat' looks like.
//     |               |  Does this visual example help you understand
//     |               |  what this element is? I sure hope so.
//     |               |
//     +---------------+
//
/////////////////////////////////////-+++-/////////////////////////////////////////



/////////////////////////////////////-+++-
// Variables


$slat-imagewidth: 270px;
$slat-smallimagewidth: 170px;



/////////////////////////////////////-+++-
// Default Slat style


.Slat {
	@extend %u-clearfix;
	width: 100%;
	position: relative;
	background: #fff;

	.Slat__imageGroup {
		display: none; // hide image alltogether on mobie

		@include mq($from: middleschool) {
			float: left;
			display: block;
			width: $slat-smallimagewidth;
		}

		@include mq($from: college) {
			width: $slat-imagewidth;
		}

	}

	.slat__textGroup {

		@include mq($from: middleschool) {
			padding: 0 $spacing $spacing;
			margin-left: 170px;
			display: table;
		}

		@include mq($from: college) {
			margin-left: $slat-imagewidth;
			padding-top: $spacing;
		}
	}
}