/////////////////////////////////////-+++-/////////////////////////////////////////
// Social Links
/////////////////////////////////////-+++-/////////////////////////////////////////


.SocialLinks {
	.facebook a:hover 		{ background: $color--facebook;}
	.twitter a:hover 		{ background: $color--twitter;}
	.google-plus a:hover 	{ background: $color--google;}
}