/////////////////////////////////////-+++-/////////////////////////////////////////
// Tags
/////////////////////////////////////-+++-/////////////////////////////////////////


%Tag {
	background: $link-color;
	color: #fff;
	font-size: 13px;
	line-height: 16px;
	border-radius: 2px;
}

.Tag { @extend %Tag; }