/////////////////////////////////////-+++-/////////////////////////////////////////
// Teaser
// This is a grouping of text and images that links off to a specific page.
// Often shows up in lists.
/////////////////////////////////////-+++-/////////////////////////////////////////




/////////////////////////////////////-+++-
// Default Teaser style

.Teaser {
	max-width: 380px;
	margin-right: auto;
	margin-left: auto;	
}



/////////////////////////////////////-+++-
// Teaser fields


.Teaser__title {
	@extend %u-title;
}

.Teaser__summary {
	@extend %u-smallText;
}



/////////////////////////////////////-+++-
// Teaser variants


.Teaser--horizontal {
	@extend %u-clearfix;
	max-width: none;

	.Teaser__imageGroup {
		float: right;
		width: 40%;
		max-width: 200px;
		margin: 0 0 10px 40px;
		display: none;

		@include mq($from: middleschool) {
			display: block;
		}
	}	
}
