/////////////////////////////////////-+++-/////////////////////////////////////////
// Titles
/////////////////////////////////////-+++-/////////////////////////////////////////



%Title {
	font: 700 22px/24px $serif;
}

%Title--small {
	font: 700 18px/20px $serif;
}

%Title--large {
	font: 700 36px/40px $serif;
}

%Title--block {
	font: 700 12px/14px $sans-serif;
	text-transform: uppercase;
	letter-spacing: 3px;
}

// deployment
.Title { @extend %Title; }
.Title--small { @extend %Title--small; }
.Title--large { @extend %Title--large; }
.Title--block { @extend %Title--block; }



/////////////////////////////////////-+++-
// h1 - h6

// copied from normalize
// Address variable `h1` font-size and margin within `section` and `article`
// contexts in Firefox 4+, Safari, and Chrome.
// 

// h1 {
//   @extend %title;
// }