/////////////////////////////////////-+++-/////////////////////////////////////////
// Primary site navigation in the header
/////////////////////////////////////-+++-/////////////////////////////////////////



.PrimaryMenu {
	padding-top: 20px;
	padding-bottom: 20px;

	@include mq($from: mobilemenu) {
		padding-top: 0;
		padding-bottom: 0;
	}

	ul {
		@extend %u-nolist;
	}

	li {
		@extend %u-largeText;	

		@include mq($from: mobilemenu) {
			display: inline-block;
			padding-left: 30px;
		}
	}

	a {
		display: block;
		padding: 20px 30px;
		color: white;

		@include mq($from: mobilemenu) {
			padding: 0;
			color: $link-color;
		}
	}
}