/////////////////////////////////////-+++-/////////////////////////////////////////
// Site logo
// this is the main site logo
/////////////////////////////////////-+++-/////////////////////////////////////////



$Logo-smallWidth: 80px;
$Logo-smallHeight: 72px;

$Logo-width: 80px;
$Logo-height: 72px;

$Logo-fileName: 'logo';

.SiteLogo {
	display: block;
	position: relative;
	background: transparent url('../../img/svg/#{$Logo-fileName}.svg') center center no-repeat;
	width: $Logo-smallWidth;
	height: $Logo-smallHeight;
	background-size: $Logo-smallWidth $Logo-smallHeight;
	
	// @include mq($from: 500px) {
	// 	width: $Logo-width;
	// 	height: $Logo-height;
	// 	background-size: $Logo-width $Logo-height;	
	// }

	// .no-svg & {
	// 	background-image: url('../../img/#{$Logo-fileName}.png');
	// }
}
