<form class="Form Form--search">
    <div class="InputGroup InputGroup--search">
    	<input type="search" placeholder="Search ..." />
    </div>
    <div class="InputGroup InputGroup--submit">
    	<input type="submit" value="Go"/>
    </div>
</form>
