/////////////////////////////////////-+++-/////////////////////////////////////////
// Header
/////////////////////////////////////-+++-/////////////////////////////////////////



// delete this stuff
.siteTitle {
	font-size: 40px;
	margin: 30px 0 20px;
	font-weight: 700;
}

.mainHeader {
	
}