<article class="Card">
	<div class="Card__imageGroup">
		<a href="">
			<img src="http://dummyimage.com/400x300/000/fff.png" alt="" />
		</a>
	</div><!-- /.Card__imageGroup -->
	<div class='Card__textGroup'>
		<h3 class="Card__title">
			<a href="">Lorem ipsum dolor sit amet</a>
		</h3>
		<p class="Card__Summary">Sed vel scelerisque diam. In ultricies eros urna, vitae pharetra urna maximus vitae. Maecenas iaculis neque eget maximus semper. Etiam vel interdum urna. Phasellus sit amet cursus erat. Integer maximus at quam vitae maximus.</p>
	</div><!-- /.Card__textGroup -->
</article>