<article class="Card is-new">
	<a href="">
		<img src="http://dummyimage.com/370x370/000/fff.png" alt="" />
	</a>
	<div class='TextGroup'>
		<span class="Category">Unit</span>
		<span class="Category2">Video</span>
		<h3>
			<a href="">Case Study on Ethics: The Final Examination</a>
		</h3>
		<p class="Summary">The case study can be used to help students understand the thought processes that individuals take when grappling with difficult decisions.</p>
		<footer>
			{% include "atoms-notification" %}
			<div class="Links">
				<div class="u-grid u-grid2 u-noGutter">
					<div class="u-gridCol">
						{% include "atoms-Quick-view-IconLink" %}
					</div>
					<div class="u-gridCol">
						{% include "atoms-Full-details-IconLink" %}
					</div>
				</div><!-- /.u-grid -->
			</div><!-- /.Card__links -->
		</footer>
	</div>
</article>