<article class="Card">
	<a href="">
		<img src="http://dummyimage.com/370x370/000/fff.png" alt="" />
	</a>
	<div class="EDCollectionBanner"><strong>ED</strong>Collection</div>
	<div class='TextGroup'>
		<h3>
			<a href="">Women, Their Rights, and Nothing Less</a>
		</h3>
		<p class="Summary">Explore: The First Amendment, freedom of the press, sedition, the Founding Fathers, the Bill of Rights, political dissent, the role of the press, early American history.</p>
		<footer>
			<div class="Links">
				<div class="u-grid u-grid2 u-noGutter">
					<div class="u-gridCol">
						<span class="IconLink--quickView">
							<a href="">Quick View</a>
						</span>
					</div>
					<div class="u-gridCol">
						<span class="IconLink--fullDetails">
							<a href="">Full Details</a>
						</span>
					</div>
				</div><!-- /.u-grid -->
			</div><!-- /.Card__links -->
		</footer>
	</div>
</article>