<article class="Slat">
	<div class="ImageGroup">
		<a href="">
			<img src="http://dummyimage.com/270x270/000/fff.png" alt="" />
		</a>
	</div>
	<div class="TextGroup">
		<span class="Category">New York</span>
		<h3>
			<a href="">Plessy, Brown v. Board Anniversaries</a>
		</h3>
		<span class="Date">May 19, 2015</span>
		<p class="Summary">This week marks the anniversaries of two landmark Supreme Court cases dealing with segregation. The first, Plessy v. Ferguson, upheld the constitutionality of segregation under the “separate but equal” doctrine. The other high court ruling, nearly six decades later, found that “separate educational facilities are inherently unequal.”</p>
	</div>
</article>