<article class="Slat">
	<div class="ImageGroup">
		<a href="">
			<img src="http://dummyimage.com/270x270/000/fff.png" alt="" />
		</a>
	</div>
	<div class="TextGroup">
		<span class="Category">New York</span>
		<h3>
			<a href="">Making a Change: The First Amendment and the Civil Rights Movement</a>
		</h3>
		<p class="Summary">This workshop revisits a time period and movement that educators already know well, but poses new questions: How did civil rights activists use the First Amendment to achieve their goals?</p>
		<div class="InnerTextGroup">
			<h4>Teacher Grade Level</h4>
			<ul class="u-nolist TagList">
				<li><span>Middle School</span></li>
				<li><span>High School</span></li>
				<li><span>College & University</span></li>
			</ul>
		</div>
	</div>
</article>