<article class="QuoteBox">
	<a href="">
		<div class="ImageGroup">
			<img src="http://dummyimage.com/600x600/000/fff.png" alt="" />
		</div>
		<blockquote>
		   	<p>I was able to put the Baltimore riots in the context of our class. I couldn’t have done that without Newseum.”</p>
			<cite class="citation">
				<span class="u-title">Tariq Grant</span>
				<span class="u-smallText">High School Teacher</span>
			</cite>
		</blockquote>
	</a>
</article>