/////////////////////////////////////-+++-/////////////////////////////////////////
// Main content area
/////////////////////////////////////-+++-/////////////////////////////////////////



.SiteMain {
	padding-top: $cspace_small;
	margin-bottom: $cspace_small * 1.5;

	@include mq($from: elementary) {
		padding-top: $cspace_medium;
		margin-bottom: $cspace_medium * 1.5;
	}

	@include mq($from: highschool) {
		padding-top: $cspace_large;
		margin-bottom: $cspace_large * 1.5;
	}
}