<article class="Patch Patch--post">

	<header class="Patch__header">
		<h2 class="Patch__title u-giantText">Title of Post</h2>
	</header>

	<div class="Patch__body">
		{% include "organisms-wysiwyg" %}
	</div><!-- /.Patch__body -->

</article><!-- /.Patch -->


