<footer class="SiteFooter">
	<div class="u-constrained">

		<a class="FooterLogo" href="">
			<span class="u-visuallyHidden">Logo</span>
		</a>

		<div class="SiteFooter__group">

			<div class="vcard">
				<span class="fn org u-blockText"><a class="url" href="#">URL</a></span>
				<span class="adr">
					<span class="street-address">123 Example St.</span>, 
					<span class="region">New Orleans, LA</span> 
					<span class="postal-code">12345</span>
				</span>
			</div>

			<nav class="FooterMenu">
				<ul>
					<li><a href="">Item 1</a></li>
					<li><a href="">Item 2</a></li>
					<li><a href="">Item 3</a></li>
				</ul>
			</nav>

		</div><!-- /.SiteFooter__group -->
	</div>
</footer>