<footer class="SiteFooter">
	<div class="u-constrained">
		<a class="FooterLogo" href=""><span class="u-visuallyHidden">NewseumED</span></a>
		<div class="SiteFooter__group">
			<div class="vcard">
				<span class="fn org u-blockText"><a class="url" href="#">Newseum.org</a></span>
				<span class="adr">
					<span class="street-address">555 Pennyslvania Ave. N.W.</span>, <span class="region">Washington, DC</span> <span class="postal-code">20001</span>
				</span>
			</div>
			<nav class="FooterMenu">
				<ul>
					<li><a href="">Contact Us</a></li>
					<li><a href="">Press Info</a></li>
					<li><a href="">Help</a></li>
					<li><a href="">Terms & Conditions</a></li>
					<li><a href="">Privacy Policy</a></li>
				</ul>
			</nav>
		</div><!-- /.SiteFooter__group -->
	</div>
</footer>