
<section class="Sheet">
	<div class="u-constrained">

		{% include 'molecules-tooltip' %}

		{% include 'molecules-sheet-header' %}

		<div class="Sheet__menu">
			{% include 'molecules-in-page-filters' %}
		</div>

		{% include 'organisms-slats' %}

		{% include 'molecules-sheet-footer-link' %}

	</div>
</section>