
<section>
	{% include 'organisms-3up-quoteboxes' %}
	<div class="SmallSheet">
		<div class="u-constrained">

			{% include 'molecules-sheet-footer-with-title' %}

		</div>
	</div><!-- /.Sheet -->
</section>