<section class="SmallSheet">
	<div class="u-constrained">
		{% include 'atoms-small-sheet-title' %}
		{% include 'atoms-text-highlight' %}
		<div class="SheetButton">
			<span class="u-button"><a href="">Read the Story</a></span>
		</div>
	</div><!-- /.u-constrained -->
</section>