<section class="Sheet Sheet--hero">
	<div class="u-constrained">
		<header class="Sheet__header">
			<a class="SheetLogo" href="/"><span class="u-visuallyHidden">NewseumED</span></a>
			<h2 class="u-humongousText">Free learning tools on media literacy and our First Amendment freedoms.</h2>
		</header>
		{% include 'organisms-smallslats' %}
		<footer class="Sheet__footer">
			<h3 class="u-largeTitle"><strong>Get premium access.</strong></h3>
			<p>When you create a free Newseum<strong>ED</strong> account, you will receive unlimited access to all site content, including copyright-protected material only available to registered users.</p>
			<span class="u-largeButton"><a href="">Sign Up</a></span>
		</footer>
	</div><!-- /.u-constrained -->
</section>