<div class="ImageCredit__wrapper">
	<img src="http://dummyimage.com/980x560/000/fff.png" alt="">
	<div class="ImageCredit">Jane Doe</div>
</div><!-- /.ImageCredit__wrapper -->
<div class="ImageCaption"><p>Lorem ipsum ... </p></div>