<div class="sg-layoutDemo">
	<!--Grid 50 percent-->
	<div class="u-inlineGrid u-inlineGrid--50percent">
		<div>
			<span>1/2</span>
		</div>
		<div>
			<span>1/2</span>
		</div>
		<div>
			<span>1/2</span>
		</div>
	</div>

	<hr/>

	<!-- Grid 33 percent -->
	<div class="u-inlineGrid u-inlineGrid--33percent">
		<div>
			<span>1/3</span>
		</div>
		<div>
			<span>1/3</span>
		</div>
		<div>
			<span>1/3</span>
		</div>
		<div>
			<span>1/3</span>
		</div>
		<div>
			<span>1/3</span>
		</div>
	</div>

	<hr/>

	<!--Grid 25 percent-->
	<div class="u-inlineGrid u-inlineGrid--25percent">
		<div>
			<span>1/4</span>
		</div>
		<div>
			<span>1/4</span>
		</div>
		<div>
			<span>1/4</span>
		</div>
		<div>
			<span>1/4</span>
		</div>
		<div>
			<span>1/4</span>
		</div>
		<div>
			<span>1/4</span>
		</div>
	</div>

</div>