<div class="sg-layoutDemo">
	<!--Grid 50 percent-->
	<div class="u-floatLayout">
		<div class="u-floatLayout__cell">
			<p>Lorem Ipsum Sit Dolar</p>
		</div>
		<div class="u-floatLayout__cell">
			<p>Lorem Ipsum Sit Dolar</p>
		</div>
	</div>
</div>