<div class="sg-layoutDemo">
	<!--Grid 2up-->
	<div class="u-grid u-grid2 u-noGutter">
		<div class="u-gridCol">
			<span>1/2</span>
		</div>
		<div class="u-gridCol">
			<span>1/2</span>
		</div>
	</div>

	<!--Grid 3up-->
	<div class="u-grid u-grid3 u-noGutter">
		<div class="u-gridCol">
			<span>1/3</span>
		</div>
		<div class="u-gridCol">
			<span>1/3</span>
		</div>
		<div class="u-gridCol">
			<span>1/3</span>
		</div>
	</div>

	<!--Grid 4up-->
	<div class="u-grid u-grid4 u-noGutter">
		<div class="u-gridCol">
			<span>1/4</span>
		</div>
		<div class="u-gridCol">
			<span>1/4</span>
		</div>
		<div class="u-gridCol">
			<span>1/4</span>
		</div>
		<div class="u-gridCol">
			<span>1/4</span>
		</div>
	</div>
</div>