/////////////////////////////////////-+++-/////////////////////////////////////////
// Home page
/////////////////////////////////////-+++-/////////////////////////////////////////



/////////////////////////////////////-+++-
// Home page style overrides


.Page.home {
	.SiteMain__inside {
		padding-top: 0;
	}
}


/////////////////////////////////////-+++-
// Brand Hero


.BrandHero {

}