<div class="Sheet__list Slats">
	<ul class="u-basicList">
		<li>{% include "molecules-slat" %}</li>
		<li>{% include "molecules-slat" %}</li>
		<li>{% include "molecules-slat" %}</li>
	</ul><!-- /.u-grid  -->
</div>