<div class="Sheet__list SmallSlats">
	<ul class="u-grid">
		<li class="u-gridCol">{% include "molecules-small-slat" %}</li>
		<li class="u-gridCol">{% include "molecules-small-slat" %}</li>
		<li class="u-gridCol">{% include "molecules-small-slat" %}</li>
		<li class="u-gridCol">{% include "molecules-small-slat" %}</li>
		<li class="u-gridCol">{% include "molecules-small-slat" %}</li>
		<li class="u-gridCol">{% include "molecules-small-slat" %}</li>
	</ul><!-- /.u-grid  -->
</div><!-- /.SmallSlats -->