/////////////////////////////////////-+++-/////////////////////////////////////////
// Primary site search in the header
/////////////////////////////////////-+++-/////////////////////////////////////////



.HeaderSearch {

    .InputGroup {
        display: inline-block;
        vertical-align: top;

        input {
            margin-bottom: 0;
        }
    }
}





