<header class="SiteHeader">
	<div class="Frame Frame--tinySpacing Frame--gray">
		<div class="u-constrained">
			{{ headernewsletter.input("Enter email for alerts") }}
			{% include 'header/secondarymenu.twig' %}
			{% include 'header/search.twig' %}
		</div>
	</div><!-- /.Frame -->
	<div class="Frame Frame--tinySpacing Frame--lightGray">
		<div class="u-constrained u-constrained--noMobilePadding">
			<div class="Frame__inside">
				{% include 'header/logo.twig' %}
				{% include 'header/primarymenu.twig' %}
				{% include 'header/mobiletriggers.twig' %}
			</div><!-- /.Frame__inside -->
		</div>
	</div><!-- /.Frame -->
</header>

<div id='MobileMenu__content' class="MobileMenu__content MobileMenu">
	<div class="MobileMenu__inside">
		{% include 'header/secondarymenu.twig' %}
		{% include 'header/search.twig' %}
		{{ headernewsletter.input("Enter email") }}
	</div><!-- /.MobileMenu__inside -->
</div><!-- /.MobileMenu__content -->
