/////////////////////////////////////-+++-/////////////////////////////////////////
// Links
/////////////////////////////////////-+++-/////////////////////////////////////////



a,
.fakeLink {
	color: $link-color;
	text-decoration: none;

	&:hover {
		text-decoration: none;
		cursor: pointer;
		color: $link-hover-color;
	}
}