/////////////////////////////////////-+++-/////////////////////////////////////////
// Checkboxes and Radio form elements
/////////////////////////////////////-+++-/////////////////////////////////////////



$checkbox-border: #d1d1d1;
$checkbox-background: #f8f8f8;
$checkbox-color: $link-color;
$checkbox-icon: "\f00c";
$radio-icon: "\f111";

input[type="checkbox"],
input[type="radio"] {
  display: none;
}

label input[type="checkbox"] + span,
label input[type="radio"] + span {
  position: relative;
  padding-left: 31px;
  display: block;
  margin-bottom: 9px;
  padding-top: 8px;
}

input[type="checkbox"] + span:after,
input[type="radio"] + span:after{
  @extend %icomoon;
  content: '';
  position: absolute;
  left: 0;
  top: 4px;
  text-align: center;
  border: 1px solid $checkbox-border;
  background: $checkbox-background;
  margin-right: 8px;
  width: 18px;
  height: 18px;
  color: $checkbox-color;
}

input[type="checkbox"]:checked + span,
input[type="radio"]:checked + span {
  color: $checkbox-color;
}

input[type="checkbox"] + span:after {
  border-radius: 2px;
}

input[type="checkbox"]:checked + span:after {
  content: $checkbox-icon;
  font-size: 13px;
  padding: 1px 0 0 2px;
}

input[type="radio"] + span:after {
  border-radius: 50%;
}

input[type="radio"]:checked + span:after {
  content: $radio-icon;
  font-size: 12px;
  padding: 2px 0 0 3px;
}
