/////////////////////////////////////-+++-/////////////////////////////////////////
// Tabels
/////////////////////////////////////-+++-/////////////////////////////////////////



table {
	background: $gray;
}

th,
td {
	padding: 8px 18px;
	border-bottom: 1px solid #fff;
	border-right: 1px solid #fff;
}

th {
	background: $gray;
}