{% include 'organisms-full-header' %}

<main class="SiteMain">
	{% include 'organisms-hero-sheet' %}
	{% include 'organisms-small-sheet' %}
	{% include 'organisms-sheet-with-cards' %}
	{% include 'organisms-sheet-with-slats' %}
	{% include 'organisms-sheet-with-cards' %}
	{% include 'organisms-sheet-with-slats' %}
	{% include 'organisms-sheet-with-quoteboxes' %}
</main>

{% include 'organisms-footer' %}