{% include 'organisms-header' %}

<main class="SiteMain">

	<div class="Frame">
		<div class="u-constrained">

			{% embed "organisms-list-box" %}
			    {% block listbox_title %}
			        This is an example <strong>List Box</strong>
			    {% endblock %}
			    {% block listbox_content %}
					<div class="SlatGrid">
						<div>{% include 'molecules-slat' %}</div>
						<div>{% include 'molecules-slat' %}</div>
						<div>{% include 'molecules-slat' %}</div>
					</div>
				{% endblock %}
				{% block listbox_footer %}{% endblock %}
			{% endembed %}

		</div><!-- /.u-constrained -->
	</div><!-- /.Frame -->

</main>

{% include 'organisms-footer' %}