{% extends "main.twig" %}

{% block main %}

	<div class="Frame">
		<div class="u-constrained">

			{% embed "organisms-post" %}
			{% endembed %}

		</div><!-- /.u-constrained -->
	</div><!-- /.Frame-->

{% endblock %}