{% include 'organisms-header' %}


<main class="SiteMain">

	<div class="Frame">
		<div class="u-constrained">

			{% embed "organisms-post" %}
			{% endembed %}

		</div><!-- /.u-constrained -->
	</div><!-- /.Frame-->

</main>

{% include 'organisms-footer' %}