<header class="Sheet__header">
	<h2 class="Sheet__title">Lorem ipsum dolor sit amet</h2>
	<p class="u-largeText">Sed vel scelerisque diam. In ultricies eros urna, vitae pharetra urna maximus vitae.</p>
</header>