<footer class="Sheet__footer">
	<p class="u-largeText">Elementary, Middle, or High School educator? We have activities, lesson plans, case studies and more to help you meet your <a href="">standards of learning</a>.</p>
</footer>