<footer class="Sheet__footer">
	{% include 'atoms-Classes-LargeIconLink' %}
	<hr/>
	<div>
		<p>Want to support media literacy and First Amendment education?</br>
		<a href=""><strong>Sponsor an EdCollection</strong></a></p>
	</div>
</footer>