<nav class="SiteHeader__primaryMenu">
	<ul>
		<li><a href="">Why Newseum<strong>ED</strong></a></li>
		<li><a href="">Our <strong>ED</strong>Collections</a></li>
		<li><a href="">Plan a Visit</a></li>
		<li><a href="">Sign Up</a></li>
	</ul>
</nav>