<div class="PrimarySearch">
	<div class="Trigger"><i class="icon-search"><span class="u-visuallyHidden">Search</span></i></div>
	<div class="Content">
		<form>
			{% include 'atoms-search' %}
		</form>
		<span class="Close">
			<span class="Close__inner">
				<i class="icon-plus"></i><span>Close Search</span>
			</span><!-- /.Close__inner -->
		</span><!-- /.Close -->
	</div><!-- /.Content -->
</div><!-- /.PrimarySearch -->