<nav class="IconMenu">
	<ul>
		<li>
			<a href="">
				<i class="icon-tools"></i>
				<span><strong>ED</strong>Tools</span>
			</a>
		</li>
		<li>
			<a href="">
				<i class="icon-classes"></i>
				<span><strong>ED</strong>Classes & Training</span>
			</a>
		</li>
		<li>
			<a href="">
				<i class="icon-collections"></i>
				<span><strong>ED</strong>Collections</span>
			</a>
		</li>
		<li>
			<a href="">
				<i class="icon-ideas"></i>
				<span><strong>ED</strong>Ideas</span>
			</a>
		</li>
		<li>
			<a href="">
				<i class="icon-community"></i>
				<span><strong>ED</strong>Community</span>
			</a>
		</li>
	</ul>
</nav>