<div class="IconLogin">
	<div class="Button">
		<a href="">
			<i class="icon-user"></i>
			<span>Log in</span>
		</a>
	</div>
	<div class='TextGroup'>New here? <a class="u-smallBlockText" href="">Sign up</a></div>
</div><!-- /.IconLogin -->