<div class="IconMore">
	<div class="u-smallBlockText IconMore__button">
		<a href="">
			<i class="icon-plus"></i>
			<div class="TextGroup">
				<span class="More">More</span>
				<span class="Less">Less</span>
			</div>
		</a>
	</div>
</div><!-- /.IconMore -->