<nav class="u-defaultMenu">
	<ul>
		<li><a href="">About Newsuem<strong>ED</strong></a></li>
		<li><a href="">Plan Your Visit</a></li>
		<li><a href="">Social & News</a></li>
		<li><a href="">Press Info</a></li>
		<li><a href="">Site Support</a></li>
		<li><a href="">Feedback</a></li>
	</ul>
</nav>