

	<div class="Cover"></div>

	</div><!--/.PageWrapper-->


	<!--DO NOT REMOVE-->
	{{ patternLabFoot | raw }}

	<!-- jquery -->
	<script src="../../../../build/js/jquery.min.js"></script>

	<!-- Minified and Concatenated Vendor and Custom Scripts -->
	<script src="../../../../build/js/plugins.min.js"></script>
	
	</body>
</html>